.marqueeContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marqueeContent {
  display: flex;
  white-space: nowrap;
}

.marqueeLeft {
  animation: marquee-left 20s linear infinite;
}

.marqueeRight {
  animation: marquee-right 20s linear infinite;
}


@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(0%); 
  }
}
